<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:p="http://www.springframework.org/schema/p" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.1.xsd
	   http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-3.2.xsd ">
	<bean id="redisClusterConfiguration"
		class="org.springframework.data.redis.connection.RedisClusterConfiguration">
		<property name="maxRedirects" value="${redis.maxRedirects}"></property>
		<property name="clusterNodes">
			<set>
				<bean class="org.springframework.data.redis.connection.RedisClusterNode">
					<constructor-arg name="host" value="${redis.hostName1}"></constructor-arg>
					<constructor-arg name="port" value="${redis.port}"></constructor-arg>
				</bean>
				<bean class="org.springframework.data.redis.connection.RedisClusterNode">
					<constructor-arg name="host" value="${redis.hostName2}"></constructor-arg>
					<constructor-arg name="port" value="${redis.port}"></constructor-arg>
				</bean>
				<bean class="org.springframework.data.redis.connection.RedisClusterNode">
					<constructor-arg name="host" value="${redis.hostName3}"></constructor-arg>
					<constructor-arg name="port" value="${redis.port}"></constructor-arg>
				</bean>
			</set>
		</property>
	</bean>
	<bean id="jedisPoolConfig" class="redis.clients.jedis.JedisPoolConfig">
		<property name="maxIdle" value="${redis.maxIdle}" />
	</bean>
	<bean id="jedisConnectionFactory"
		class="org.springframework.data.redis.connection.jedis.JedisConnectionFactory">
		<constructor-arg ref="redisClusterConfiguration" />
		<constructor-arg ref="jedisPoolConfig" />
	</bean>

	<bean id="redisTemplate" class="org.springframework.data.redis.core.RedisTemplate">
		<property name="connectionFactory" ref="jedisConnectionFactory" />
	</bean>
    

    <bean id="serialization" class="org.springframework.data.redis.serializer.JdkSerializationRedisSerializer" />  
  
    <bean id="messageDelegateListener" class="com.xiaomai.supershopowner.common.MessageDelegateListenerImpl" />  
  
    <bean id="messageListener" class="org.springframework.data.redis.listener.adapter.MessageListenerAdapter">  
        <property name="delegate" ref="messageDelegateListener" />  
        <property name="serializer" ref="serialization" />  
    </bean>  
  
    <bean id="redisContainer" class="org.springframework.data.redis.listener.RedisMessageListenerContainer">  
        <property name="connectionFactory" ref="jedisConnectionFactory"/>  
        <property name="messageListeners">  
            <!-- map of listeners and their associated topics (channels or/and patterns) -->  
            <map>  
                <entry key-ref="messageListener">  
                   <ref bean="channelTopic" />
                </entry>  
            </map>  
        </property>  
    </bean>  
    
    <bean id="channelTopic" class="org.springframework.data.redis.listener.ChannelTopic">
		<constructor-arg value="go:ordered:topic" />
	</bean>


</beans>